deploy-ghost-theme:
  stage: deploy
  image: node:18
  before_script:
    - apt-get install -y zip
    - npm install -g @tryghost/admin-api
    - npm install -g gscan
  script:
    - gscan .
    - zip -r theme.zip . -x "*.git*" "node_modules/*" ".gitlab-ci.yml"
    - 'curl -X POST -H "Authorization: Ghost $GHOST_ADMIN_API_KEY" -F "file=@theme.zip" "https://joy.pm/ghost/api/admin/themes/upload/"'
  variables:
    GHOST_API_URL: "https://joy.pm"
  only:
    - main
